.i18n-selector {
  padding: 0.5rem 0.6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100vw*.03);
  background-color: #c4c2ce;
  border-radius: 10px;
  justify-content: space-between;
  button{
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  button:focus{
    font-weight: bolder;
  }
}
